<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <display-name>Welcome to Tomcat</display-name>
  <description>
     Welcome to Tomcat
  </description>
<taglib>
        <taglib-uri> http://java.sun.com/jstl/fmt </taglib-uri>
        <taglib-location> /WEB-INF/tld/fmt.tld </taglib-location>
</taglib>
<taglib>
        <taglib-uri> http://java.sun.com/jstl/fmt-rt </taglib-uri>
        <taglib-location> /WEB-INF/tld/fmt-1_0-rt.tld </taglib-location>
</taglib>
<taglib>
        <taglib-uri> http://java.sun.com/jstl/core </taglib-uri>
        <taglib-location> /WEB-INF/tld/c.tld </taglib-location>
</taglib>
<taglib>
        <taglib-uri> http://java.sun.com/jstl/core-rt </taglib-uri>
        <taglib-location> /WEB-INF/tld/c-1_0-rt.tld </taglib-location>
</taglib>
<taglib>
        <taglib-uri> http://java.sun.com/jstl/sql </taglib-uri>
        <taglib-location> /WEB-INF/tld/sql.tld </taglib-location>
</taglib>
<taglib>
        <taglib-uri> http://java.sun.com/jstl/sql-rt </taglib-uri>
        <taglib-location> /WEB-INF/tld/sql-1_0-rt.tld </taglib-location>
</taglib>
<taglib>
        <taglib-uri> http://java.sun.com/jstl/x </taglib-uri>
        <taglib-location> /WEB-INF/tld/x.tld </taglib-location>
</taglib>
<taglib>
        <taglib-uri> http://java.sun.com/jstl/x-rt </taglib-uri>
        <taglib-location> /WEB-INF/tld/x-1_0-rt.tld </taglib-location>
</taglib>
<taglib>
        <taglib-uri> http://java.sun.com/jstl/functions </taglib-uri>
        <taglib-location> /WEB-INF/tld/fn.tld </taglib-location>
</taglib>

	
</web-app>